*,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
    line-height: 1.5;
}
h1{
    font-size: 44px;
    text-align: center;
    color: crimson;
    margin: 44px 0;
}
iframe{
    width: 1200px;
    height: 600px;
}