
@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

body{
    font-size: 20px;
    background-color: #deecf8;
    padding: 32px;
    line-height: 1.5;
}

